<header class="site-header">
  <nav class="container">
    <a class="header-logo" href="<%= url_for() %>" rel="home">
      <% if (config.logo || theme.logo) { %>
      <img src="<%- config.logo || theme.logo %>" alt="<%- config.title %>">
      <% } %>
    </a>
    <% var site_navs = config.nav || theme.nav  %>
    <% var isActive = [ page.layout==='about', is_archive(), page.layout==='page', page.layout==='works' ], index = 0; %>
    <% for (var i in site_navs){ %>
      <a class="header-link pull-right <%- isActive[index] ? 'active' : '' %>" href="<%- site_navs[i].url ? url_for(site_navs[i].url) : url_for(site_navs[i]) %>">
        <%= __(i) %>
      </a>
      <% index++ %>
    <% } %>
  </nav>
</header>
